<md-content layout-padding>
<form name="employeeDesignationCreateForm">
    <md-input-container class="md-block"> <label>Designation</label>
    <input required name="name" ng-model="record.designation" required>
    </md-input-container>
    <md-input-container class="md-block"> <input
        type="hidden" name="Id" ng-model="record.id"> </md-input-container>
    <md-input-container class="md-block"> <label>Description</label>
    <input name="Description" ng-model="record.description"> </md-input-container>
    <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage"
        ng-disabled="employeeDesignationCreateForm.$invalid"> Save
    </md-button>
    <md-button class="md-raised md-primary" ng-click="updateData()"
        ng-show="updatePage"
        ng-disabled="employeeDesignationCreateForm.$invalid">
    Update </md-button>
    <md-button class="md-raised " ng-click="cancelRecord()">
    Cancel </md-button>
</form>
</md-content>