<div class="demo-md-panel-animation md-padding">
	<div layout="row" layout-xs="column" layout-sm="column" layout-margin>
			</div>
<div class="overlay loadingImg" ng-show="loading">
		<h1 style="text-align: center; margin-top: 20%">loading....</h1>
	</div>
	<md-content layout="column" flex> <md-table-container>
	<table md-table id="batchAttendanceTable">
		<thead md-head md-order="query.order">
			<tr md-row ng-class-odd="'tableHead'">
				<th md-column><span> <md-checkbox ng-click="selectAll()" ng-model="data.checkboxValue"
				 aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></span></th>
				<th md-column><span>Batch Id</span></th>
				<!-- <th md-column><span>Trainee ID</span></th> -->
				<th md-column><span>Date</span></th>
				<th md-column><span>Trainee Names</span></th>
				<!-- <th md-column><span>Trainees Attended</span></th> -->
				<th md-column><span>Description</span></th>
				<th md-column>Actions</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-class-odd="'odd'"
				ng-repeat="data in batchAttendancesData | orderBy: query.order | filter: filterByText | limitTo: query.limit : (query.page -1) * query.limit track by $index">
				<td md-cell><md-checkbox ng-model="data.checkboxValue"
						ng-click="rowSelect(data)" aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></td>
				<td md-cell>{{data.batchId}}</td>
				<!-- <td md-cell>{{data.traineeId}}</td> -->
				<td md-cell>{{data.date}}</td>
				<td md-cell>{{data.traineeName}}</td>
				<!-- <td md-cell>{{data.traineeIds}}</td> -->
				<td md-cell>{{data.description}}</td>
				<td md-cell><span> <md-tooltip> Update </md-tooltip> <i
						class="material-icons" ng-click="setRowData(data);toggleRight()"
						ng-hide="isOpenRight()">border_color</i></span><span><md-tooltip>
						Delete </md-tooltip> <i class="material-icons"  ng-click="deleteRow($event,data)">delete_forever</i></span> <span><md-tooltip> <span><md-tooltip>
						{{data.description}} </md-tooltip> <i class="material-icons">description</i></span></td>
			</tr>
		</tbody>
	</table>
	</md-table-container>
	</md-content>
	<div layout="column" ng-cloak>
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Batch Attendance {{currentPage}}</h1>
			</md-toolbar> <create-batch-attendance /> </md-sidenav>
		</section>
	</div>
</div>
