<md-content layout-padding>
<form name="userrecordForm"> 

    <md-input-container class="md-block"> <label>First Name</label>
    <input required name="Firstname" replace="[^a-zA-Z]" with="" required="required" ng-model="record.firstName"> </md-input-container>

    <md-input-container class="md-block"> <label>Last Name</label>
    <input  name="Lastname" required ng-model="record.lastName">
    </md-input-container>

    <md-input-container class="md-block"> <label>Email</label>
    <input type="email" name="Email" required ng-model="record.email">
    </md-input-container>

    <md-input-container class="md-block"> <label>Phone Number</label>
    <input  type=text name="Phoneno" maxLength="15" only-digits required ng-model="record.phoneNo">
    </md-input-container>

    <md-input-container class="md-block"> <label>User Name</label>
    <input  name="Username" replace="[^a-zA-Z]" with="" required="required" 
    ng-model="record.userName">
    </md-input-container>

    <md-input-container class="md-block"> <label>Password</label>
    <input  name="Password"  type="password" required ng-model="record.password">
    </md-input-container>

    <md-input-container class="md-block"> <label>Confirm Password</label>
    <input  name="ConfirmPassword" type="password" required ng-model="record.confirmPassword" ng-keyup="checkPassword()"> 
   <!--  <span class="md-block" data-ng-show="userrecordForm.record.confirmPassword.$error.match">Passwords do not match.</span> -->
    </md-input-container>
    <div ng-if="confirmpassword == true">Password mis-match</div>

    <md-input-container class="md-block" flex-gt-sm> <label>Role</label><md-select required ng-model="record.role"> <md-option>
    <em>None</em></md-option> <md-option ng-repeat="role in roles"
        ng-selected="role.value == record.role" ng-value="role.value">
    {{role.value}} </md-option> </md-select> </md-input-container>
    
    <md-input-container class="md-block"> <label>Description</label>
    <input  name="Description" type= ng-model="record.description">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage" ng-disabled="userrecordForm.$invalid"> Save </md-button>
    <md-button class="md-raised md-primary" ng-click="updateRecord()"
        ng-show="updatePage" ng-disabled="userrecordForm.$invalid"> Update </md-button>
    <md-button class="md-raised " ng-click="cancelRecord()">
    Cancel </md-button>
</form>
</md-content>


        
   
