<md-content layout-padding>
<form name="technologyCreateForm">
    <md-input-container class="md-block"> <label>Name</label>
    <input required name="name" ng-model="create.name"> </md-input-container>

    <md-input-container class="md-block"> <input
        type="hidden" name="Id" ng-model="create.id"> </md-input-container>

    <md-input-container class="md-block"> <label>Description</label>
    <input  name="Description" ng-model="create.description">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage"> Save </md-button>
    <md-button class="md-raised md-primary" ng-click="updateData()"
        ng-show="updatePage"> Update </md-button>
    <md-button class="md-raised " ng-click="saveRecord()">
    Cancel </md-button>
</form>
</md-content>