<md-content layout-padding>
<form name="userrecordForm">
   
    <md-input-container class="md-block" flex-gt-sm> <label>Category</label> 
    <md-select ng-model="record.category">
     <md-optgroup label="Category"> <md-option ng-repeat="category in categories" 
     ng-value="category.value" ng-selected="category.value === record.category">{{
    category.value }}</md-option> </md-optgroup> </md-select> 
    </md-input-container>

    <md-input-container class="md-block"> <label>Description</label>
    <input  name="Descirption" ng-model="record.description">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage" ng-disabled="userrecordForm.$invalid"> Save </md-button>
    <md-button class="md-raised md-primary" ng-click="updateRecord()"
        ng-show="updatePage" ng-disabled="userrecordForm.$invalid"> Update </md-button>
    <md-button class="md-raised" ng-click="cancelRecord()">
    Cancel </md-button>
</form>
</md-content>

