<div class="demo-md-panel-animation md-padding">
   
<div class="overlay loadingImg" ng-show="loading">
        <h1 style="text-align: center; margin-top: 20%">loading....</h1>
    </div>

    <md-content layout="column" flex> <md-table-container>
    <table md-table id="taskTable">
        <thead md-head md-order="query.order">
            <tr md-row ng-class-odd="'tableHead'">
                <th md-column><span> <md-checkbox ng-model="checkboxValue"
                        ng-click="selectAll()" aria-label="Checkbox 2"
                        ng-true-value="'on'" ng-false-value="'off'"
                        class="md-warn md-align-top-left" flex></span></th>
                <th md-column ><span>Category</span></th>
                <th md-column ><span>Reference Id</span></th>
               <!--  <th md-column ><span>Invoice</span></th> -->
                <th md-column>Description</th>
                <th md-column>Actions</th> 
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-class-odd="'odd'"
                ng-repeat="data in tasksData | orderBy: query.order | filter: filterByText | limitTo: query.limit : (query.page -1) * query.limit track by $index">
                <td md-cell><md-checkbox  ng-model="data.checkboxValue"
                        ng-click="rowSelect(data)" aria-label="Checkbox 2"
                        ng-true-value="'on'" ng-false-value="'off'"
                        class="md-warn md-align-top-left" flex></td>
                <td md-cell >{{data.category}}</td>
                <td md-cell >{{data.referenceId}}</td>
                <!--  <td md-cell >{{data.invoice}}</td> -->
                <td md-cell >{{data.description}}</td>
                <!-- <td md-cell >{{data.employeeName}}</td>
                <td md-cell >{{data.estimatedTime}}</td> -->
                
                <td md-cell width="100"><span> <md-tooltip>Update </md-tooltip> <i
                        class="material-icons" ng-click="updateRow(data);toggleRight()"
                        ng-hide="isOpenRight()">border_color</i></span> <span><md-tooltip>
                        Delete</md-tooltip> <i class="material-icons" ng-click="deleteRow($event,data)">delete_forever</i></span></td>
            </tr>
        </tbody>
    </table>
    </md-table-container> 
    </md-content>

    <div layout="column" ng-cloak>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="right"> <md-toolbar
                class="md-theme-light">
            <h1 class="md-toolbar-tools">Task {{currentPage}}</h1>
            </md-toolbar> <create-task/></md-sidenav>
        </section>
    </div>


</div>

