<md-content layout-padding>
<form name="timesheetCreateForm">
	<md-input-container class="md-block"> <label>
		Date</label> <input required type="date" name="date"
		ng-model="record.date"> </md-input-container>

	<md-input-container class="md-block"> <label>Employee Id</label> 
	<input  required only-digits name="employeeId" ng-model="record.employeeId">
	</md-input-container>

	<md-input-container class="md-block"> <label>Category</label> <input  name="category"
		ng-model="record.category" required> </md-input-container>

	<md-input-container class="md-block"> <label>Category Reference Number</label> <input  name="categoryRefNo"
		ng-model="record.categoryRefNo" required only-digits> </md-input-container>

	<md-input-container class="md-block"> <label>Duration Hours</label> <input   name="durationInHours"
		ng-model="record.durationInHours" required only-digits> </md-input-container>

	<md-input-container class="md-block"> <input
		type="hidden" name="Id" ng-model="record.id"> </md-input-container>

	<md-input-container class="md-block"> <label>Description</label>
	<input name="Description" ng-model="record.description"> </md-input-container>

	<md-button class="md-raised md-primary" ng-click="saveRecord()"
		ng-hide="updatePage" ng-disabled="timesheetCreateForm.$invalid"> Save </md-button>
	<md-button class="md-raised md-primary" ng-click="updateData()"
		ng-show="updatePage" ng-disabled="timesheetCreateForm.$invalid">Update </md-button>
	<md-button class="md-raised" ng-click="cancelRecord()" >
	Cancel </md-button>
</form>
</md-content>