<section class="loginform cf">
<div class="demo-md-panel-animation md-padding">
	<div layout="row" layout-xs="column" layout-sm="column" layout-margin>
		<div flex="40">
			<md-input-container class="md-block"> 
			<label> Username</label> 
			<input required name="username"	ng-model="record.userName"> 
			</md-input-container>
			<md-input-container class="md-block"> 
			<label> Password</label> 
			<input required type="password" name="password" ng-model="record.password"> 
			</md-input-container>
			<p>{{errorMessage}}</p>
			<md-button class="md-raised md-primary" ng-click="login()"> Login </md-button>
		</div>
		
	</div>
</div>
</section>

