<md-content layout-padding>
<form name="clientCreateForm">

	<md-input-container class="md-block" flex-gt-sm> <label>Name</label>
	<input  name="name" ng-model="record.name" replace="[^a-zA-Z]" with="" required="required"> </md-input-container>

	<md-input-container class="md-block"> <label>Address</label>
	<input  name="address" ng-model="record.address"  required="required"> </md-input-container>

	<md-input-container class="md-block"> <label>Description
		</label> <input  name="description"
		ng-model="record.description"> </md-input-container>	

		
		<div layout="row" layout-xs="column" ng-repeat="contact in record.contacts" layout-sm="column" layout-margin>
	
            <div flex="20" class="green box"><md-input-container class="md-block" flex-gt-sm><label>POC</label><input
		type="text" name="Id" ng-model="contact.poc" required> </md-input-container></div>
            <div flex="20" class="blue box"><md-input-container class="md-block" flex-gt-sm><label>Email</label> <input	type="email" name="Id"  required ng-model="contact.email"> </md-input-container></div>
		<div flex="20" class="green box"><md-input-container class="md-block" flex-gt-sm><label>Phone</label><input
		type="text" name="Id" ng-model="contact.telephone" maxLength="15" only-digits required> </md-input-container></div>
            <div flex="20" class="blue box"> <md-input-container class="md-block" flex-gt-sm><label>Designation</label><input
		type="text" name="Id" ng-model="contact.designation" required></md-input-container>
		 </div>

		<div>
		<button ng-click="addMoreContacts()" ng-disabled="contactForm.$invalid"><i class="material-icons">add</i>
		</button>
		</div>

		<div>
			<button ng-click="removeContacts()" data-ng-disabled="checkButton()">
			<i class="material-icons">remove</i>
			</button>
			</div>
        
		</div>

	<md-button class="md-raised md-primary" ng-click="saveRecord()"
		ng-hide="updatePage"  ng-disabled="clientCreateForm.$invalid"> Save </md-button>
	<md-button class="md-raised md-primary" ng-click="updateRecord()"
		ng-show="updatePage"   ng-disabled="clientCreateForm.$invalid"> Update </md-button>
	<md-button class="md-raised" ng-click="cancelRecord()">
	Cancel </md-button>
</form>

</md-content>



