<div class="demo-md-panel-animation md-padding">
	<div layout="row" layout-xs="column" layout-sm="column" layout-margin>
		<div flex="40">
			<md-input-container class="md-block"> <label>{{currentRoute
				| capitalize}} Search</label> <input  name="filter"
				ng-model="filter"> </md-input-container>
		</div>
		<div flex="40">
			<md-button class="md-fab md-warn md-mini" aria-label="Create Button"
				ng-click="toggleRight();emptyForm()" ng-hide="isOpenRight();">
			<md-tooltip> Add New </md-tooltip> <i class="material-icons">create_new_folder</i>
			</md-button>
			<md-button class="md-fab md-warn md-mini" aria-label="Select Button"
				ng-click="selectAll()"> <md-tooltip> Select
			All </md-tooltip> <i class="material-icons">select_all</i> </md-button>
			<md-button class="md-fab md-warn md-mini"
				aria-label="DeSelect Button" ng-click="deSelectAll()"> <md-tooltip>
			Deselect All </md-tooltip> <i class="material-icons">tab_unselected</i> </md-button>
			<md-button class="md-fab md-warn md-mini" aria-label="Delete Button"
				ng-click="deleteSelected($event)"> <md-tooltip>
			Delete </md-tooltip> <i class="material-icons">delete_forever</i> </md-button>
			<md-button class="md-fab md-warn md-mini" aria-label="Export Button"
				ng-click="export('#traineeTable')"> <md-tooltip>
			Export </md-tooltip> <i class="material-icons">import_export</i> </md-button>

			<md-button class="md-fab md-warn md-mini"
				aria-label="Export All Button" ng-csv="traineesData"
				csv-header="['Id','Name','Phone', 'Email','Technology','Paid Status', 'Received Status','Created Date', 'Updated Date', 'Description']"
				filename="trainee-list.csv"> <md-tooltip>
			Export All</md-tooltip> <i class="material-icons">file_download</i> </md-button>

		</div>
	</div>

	<div class="moreHeaders">
		<md-select placeholder="Trainee" ng-model="moreOptions"
			ng-change="openMoreOptions(moreOptions)" multiple> <md-optgroup>
		Trainee<md-option ng-repeat="header in headers">{{header}}</md-option></md-optgroup>
		</md-select>
	</div>
	
	
	<div class="overlay loadingImg" ng-show="loading">
		<h1 style="text-align: center; margin-top: 20%">loading....</h1>
	</div>
	
	<md-content layout="column" flex> <md-table-container>
	<table md-table id="traineeTable">
		<thead md-head md-order="query.order">
			<tr md-row>
				<th md-column><span> </span></th>
				<th md-column><span>Name</span></th>
				<th md-column><span>Phone</span></th>
				<th md-column><span>Email</span></th>
				<th md-column ng-show="headerEnable.alternatePhone"><span>Alternate Phone</span></th>
				<th md-column ng-show="headerEnable.clientId"><span>Client</span></th>
				<th md-column ng-show="headerEnable.skypeId" ><span>Skype Id</span></th>
				<th md-column ng-show="headerEnable.timezone" ><span>Time Zone</span></th>
				<th md-column ng-show="headerEnable.batchId" ><span>Batch</span></th>
				<th md-column><span>Technology</span></th>
				<th md-column><span>Paid Status</span></th>
				<th md-column><span>Received Status</span></th>
				<th md-column ng-show="headerEnable.traineeFeeStatus"><span>Status</span></th>
				<th md-column>Actions</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row
				ng-repeat="data in traineesData | orderBy: query.order | filter: filter | limitTo: query.limit : (query.page -1) * query.limit track by $index">
				<td md-cell><md-checkbox ng-model="data.checkboxValue"
						ng-click="rowSelect(data)" aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></td>
				<td md-cell>{{data.name}}</td>
				<td md-cell>{{data.phone}}</td>
				<td md-cell>{{data.email}}</td>
				<td md-cell ng-show="headerEnable.alternatePhone">{{data.altenatePhone}}</td>
				<td md-cell ng-show="headerEnable.clientId">{{data.clientId}}</td>
				<td md-cell ng-show="headerEnable.skypeId">{{data.skypeId}}</td>
				<td md-cell  ng-show="headerEnable.timezone">{{data.timezone}}</td>
				<td md-cell  ng-show="headerEnable.batchId">{{data.batchId}}</td>
				
				<td md-cell>{{data.technologyName}}</td>
				<td md-cell>{{data.paidStatus}}</td>
				<td md-cell>{{data.receivedStatus}}</td>
				<td md-cell ng-show="headerEnable.traineeFeeStatus">{{data.traineeFeeStatus}}</td>
				<td md-cell><span> <md-tooltip> Update </md-tooltip> <i
						class="material-icons" ng-click="setRowData(data);toggleRight()"
						ng-hide="isOpenRight()">border_color</i></span> <span><md-tooltip>
						{{data.description}} </md-tooltip> <i class="material-icons">description</i></span></td>
			</tr>
		</tbody>
	</table>
	</md-table-container> <md-table-pagination md-limit="query.limit"
		md-limit-options="traineesOptions" md-page="query.page"
		md-total="{{traineesLength}}" md-page-select="traineePage.pageSelect"></md-table-pagination>
	</md-content>

	<div layout="column" ng-cloak>
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Trainee Create</h1>
			</md-toolbar> <create-trainee /> </md-sidenav>
		</section>
	</div>
</div>
