
<md-content layout-padding>
<form name="batchCreateForm">
	<md-input-container class="md-block" flex-gt-sm> <label>Technology
		Name</label> <md-select ng-model="record.technologyId"> <md-option
		ng-repeat="technology in technologies" ng-value="technology.id"
		ng-selected="technology.id === record.technology">{{
	technology.name }}</md-option> </md-select> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Trainer
		Name</label> <md-select ng-model="record.trainerId"> <md-option
		ng-repeat="trainer in trainers" ng-value="trainer.id"
		ng-selected="trainer.id === record.trainer">{{
	trainer.name }}</md-option> </md-select> </md-input-container>

	<md-input-container class="md-block"> <label>Start
		Date</label> <input  type="date" name="startDate"
		ng-model="record.startDate"> </md-input-container>

	<md-input-container class="md-block"> <label>End
		Date</label> <input  type="date" name="endDate"
		ng-model="record.endDate"> </md-input-container>

	<md-input-container class="md-block"> <label>Duration</label>
	<input  name="duration" ng-model="record.duration"> </md-input-container>
	
	<md-input-container class="md-block"> <label>Invoice</label>
	<input  name="invoice" ng-model="record.invoice"> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Paid
		Status</label> <md-select ng-model="record.paidStatus"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="paidstatus in paidstatuses"
		ng-selected="paidstatus.value === record.paidstatus"
		ng-value="paidstatus.value"> {{paidstatus.value}}</md-option></md-select></md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Received
		Status</label> <md-select ng-model="record.receivedStatus"> <md-option>
	<em>None</em> </md-option> <md-option
		ng-repeat="receivedstatus in receivedstatuses"
		ng-selected="receivedstatus.value === record.receivedstatus"
		ng-value="receivedstatus.value"> {{receivedstatus.value}}
	</md-option> </md-select> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Status</label>
	<md-select ng-model="record.status"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="status in statuses"
		ng-selected="status.value === record.status" ng-value="status.value">
	{{status.value}} </md-option> </md-select> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Time
	</label> <md-select ng-model="record.batchTime"> <md-option>
	<em>None</em></md-option> <md-option ng-repeat="time in batchtime"
		ng-selected="time.value === record.time" ng-value="time.value">
	{{time.value}} </md-option> </md-select> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <input
		type="hidden" name="Id" ng-model="record.id"> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Description</label>
	<input  name="description" ng-model="record.description">
	</md-input-container>

	<md-button class="md-raised md-primary" ng-click="saveRecord()"
		ng-hide="updatePage"> Save </md-button>
	<md-button class="md-raised md-primary" ng-click="updateData()"
		ng-show="updatePage"> Update </md-button>
	<md-button class="md-raised " ng-click="saveRecord()">
	Cancel </md-button>
</form>

</md-content>
