<div class="demo-md-panel-animation md-padding">

	<div layout="row" layout-xs="column" layout-sm="column" layout-margin>
	</div>
	<div class="overlay loadingImg" ng-show="loading">
	<h1 style="text-align: center; margin-top: 20%">loading....</h1>
	</div>
	<md-content layout="column" flex> <md-table-container>
	<table md-table id="batchTable">
		<thead md-head md-order="query.order">
			<tr md-row ng-class-odd="'tableHead'">
				<th md-column><span> <md-checkbox ng-click="selectAll()" ng-model="data.checkboxValue"
				 aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></span></th>
				<th md-column><span>Batch</span></th>
				<th md-column ng-show="technology"><span>Technology</span></th>
				<th md-column><span>Trainer Name</span></th>
				<th md-column><span>Start Date</span></th>
				<th md-column><span>End Date</span></th>
				<th md-column><span>Duration</span></th>
				<th md-column class="center"><span>Paid Status</span></th>
				<th md-column class="center"><span>Received Status</span></th>
				<th md-column><span>Invoice</span></th>
				<th md-column class="center" ng-show="status"><span>Status</span></th>
				<th md-column ng-show="time"><span>Time</span></th>
				<th md-column>Actions

				<md-menu class=" headerMore cursor">
               
                  <i class="material-icons white" ng-click="$mdOpenMenu($event)">keyboard_arrow_down</i>
             
              		 <md-menu-content width="3">
                 		 <md-menu-item ng-repeat="header in headers">
                  		   <md-button ng-click="menuItemClick($index,header.key)">
                     	   		<div layout="row">
                          			 <md-icon md-menu-align-target class="material-icons">keyboard_arrow_right
                           			</md-icon>
                          			 <p flex>{{header.value}}</p>
                        		</div>
                     		</md-button>
                  		</md-menu-item>
              		 </md-menu-content>
           		 </md-menu>

           		 </th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-class-odd="'odd'"
				ng-repeat="data in batchesData | orderBy: query.order | filter: filter	 | limitTo: query.limit : (query.page -1) * query.limit track by $index">
				<td md-cell><md-checkbox ng-model="data.checkboxValue"
						ng-click="rowSelect(data)" aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></td>
				<td md-cell><a href="" ng-click="getBatch(data.id,$event)">{{data.id}}</a></td>
				<td md-cell ng-show="technology">{{data.technologyName}}</td>
				<td md-cell>{{data.trainerName}}</td>
				<td md-cell>{{data.startDate}}</td>
				<td md-cell>{{data.endDate}}</td>
				<td md-cell>{{data.newDuration}}</td>
				
				<td md-cell class="center">
				<div ng-switch="data.paidStatus">
					<div ng-switch-when="1 - Paid"><md-tooltip>{{data.paidStatus}} </md-tooltip><i class="material-icons cursor green">check_circle</i></div>
					<div ng-switch-when="2 - Not Paid"> <md-tooltip>{{data.paidStatus}} </md-tooltip> <i class="material-icons cursor red">cancel</i></div>
					<div ng-switch-when=""></div>
				</div>
				</td>

				<td md-cell class="center">
				<div ng-switch="data.receivedStatus">
					<div ng-switch-when="1 - Received"> <md-tooltip>{{data.receivedStatus}} </md-tooltip><i class="material-icons cursor green">check_circle</i></div>
					<div ng-switch-when="2 - Not Received"> <md-tooltip>{{data.receivedStatus}} </md-tooltip><i class="material-icons cursor red">cancel</i></div>
					<div ng-switch-when=""></div>
				</div>
				</td>

				<td md-cell>{{data.invoice}}</td>
				
				<td md-cell class="center" ng-show="status">
				<div ng-switch="data.status">
					<div ng-switch-when="In Progress"><md-tooltip>{{data.status}} </md-tooltip><i class="material-icons cursor yellow">check_circle</i>
					</div>
					<div ng-switch-when="Not Started">
					<md-tooltip>{{data.status}} </md-tooltip><i class="material-icons cursor grey">cancel</i></div>
					<div ng-switch-when="Pending"> <md-tooltip>{{data.status}} </md-tooltip> <i class="material-icons cursor orange">cancel</i></div>
					<div ng-switch-when="Rejected"> <md-tooltip>{{data.status}} </md-tooltip> <i class="material-icons  cursor red">cancel</i></div>
					<div ng-switch-when="Closed"> <md-tooltip>{{data.status}} </md-tooltip> <i class="material-icons cursor green">check_circle</i></div>
					<div ng-switch-when="Cancelled"> <md-tooltip>{{data.status}} </md-tooltip><i class="material-icons cursor black">cancel</i></div>
					<div ng-switch-when=""></div>
				</div>
				</td>



				
				<!-- <td md-cell ng-show="status">{{data.status}}</td> -->
				<td md-cell ng-show="time">{{data.batchTime}}</td>
				<td md-cell><span> <md-tooltip> Update </md-tooltip> <i
						class="material-icons" ng-click="setRowData(data);toggleRight()"
						ng-hide="isOpenRight()">border_color</i></span><span><md-tooltip>
						Delete </md-tooltip> <i class="material-icons"  ng-click="deleteRow($event,data)">delete_forever</i></span> <span><md-tooltip>
						{{data.description}} </md-tooltip> <i class="material-icons">description</i></span></td>
			</tr>
		</tbody>
	</table>
	</md-table-container> 
	</md-content>

	<div layout="column" ng-cloak>
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Batch Create</h1>
			</md-toolbar> <ng-include src="'pages/app.batch/app.batch.record.html'"></ng-include>
			</md-sidenav>
		</section>
	</div>
</div>


<!-- 
UPDATE support SET status='Pending' WHERE status='3 - Payment Pending'; -->
