       
    <div class="dashboardSpacing" layout="row" layout-xs="column" layout-sm="column" layout-margin >

    <!-- <div class="dashboardSpacing" layout="row" layout-xs="column" layout-sm="column" layout-margin > -->
<div flex="50" flex-sm="120">
<h4>Payment Pending</h4>
<div class="overflow">
<!--<md-table-container>-->
    <table md-table id="paymentTable" >
        <thead md-head md-order="payment.order">
            <tr md-row ng-class-odd="'tableHead'">
              
                <th md-column ><span>Consultant</span></th>
                <th md-column ><span>Client</span></th>
                <th md-column>Category</th>
                <th md-column>Supported By</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-class-odd="'odd'"
                ng-repeat="data in applications.paymentSummaries | orderBy: payment.order | filter: filter | limitTo: payment.limit : (payment.page -1) * payment.limit track by $index">
                
                <td md-cell >{{data.candidateName}}</td>
                <td md-cell >{{data.clientName}}</td>
                 <td md-cell >{{data.category}}</td>
                  <td md-cell >{{data.assistedBy}}</td>
                </tr>
        </tbody>
    </table>
    <!--</md-table-container> -->
   </div> 
</div>

<div flex="50"  flex-sm="120">
<h4>Support</h4>
<div class="overflow">
	<md-table-container >
    <table md-table id="supportTable">
        <thead md-head md-order="support.order">
            <tr md-row ng-class-odd="'tableHead'">
               
                <th md-column ><span>Supported By</span></th>
                <th md-column ><span>Consultant</span></th>
                <th md-column width=100>Start Date</th>
              <!--   <th md-column>Technology</th> -->
                <th md-column width=100>Status</th>

            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-class-odd="'odd'"
                ng-repeat="data in applications.supportSummaries | orderBy: support.order | filter: filter | limitTo: support.limit : (support.page -1) * support.limit track by $index">
               
                <td md-cell >{{data.trainerName}}</td>
                <td md-cell >{{data.traineeName}}</td>
                <td md-cell >{{data.startDate}}</td>
               <!--  <td md-cell >{{data.technology}}</td> -->
                <td md-cell >{{data.status}}</td>
                 </tr>
        </tbody>
    </table>
    </md-table-container> 
    </div>
</div>
</div>

<div layout="row" layout-xs="column" layout-sm="column" layout-margin >
<div flex="50"  flex-sm="120" class="overflow">
<h4>Interview</h4>
<div>
	<md-table-container>
    <table md-table id="interviewTable">
        <thead md-head md-order="interview.order">
            <tr md-row ng-class-odd="'tableHead'">
               
                <th md-column ><span>Interview Date</span></th>
                <th md-column ><span>Consultant</span></th>
                <th md-column>Supported By</th>
                <th md-column>Status</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-class-odd="'odd'"
                ng-repeat="data in applications.interviewSummaries | orderBy: interview.order | filter: filter | limitTo: interview.limit : (interview.page -1) * interview.limit track by $index">
               
                <td md-cell >{{data.interviewDate}}</td>
                <td md-cell >{{data.traineeName}}</td>
                 <td md-cell >{{data.employeeName}}</td>
                  <td md-cell >{{data.status}}</td>
               
            </tr>
        </tbody>
    </table>
    </md-table-container> 
    </div>
</div>
<div flex="50"  flex-sm="120" class="overflow">
<h4>Batch</h4>
<div>
	<md-table-container>
    <table md-table id="batchTable">
        <thead md-head md-order="batch.order">
            <tr md-row ng-class-odd="'tableHead'">
                
                <th md-column ><span>Batch Id</span></th>
                <th md-column ><span>Count</span></th>
                <th md-column>Trainer</th>
                <th md-column>Technology</th>
                <th md-column>Status </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-class-odd="'odd'"
                ng-repeat="data in applications.batchSummaries | orderBy: batch.order | filter: filter | limitTo: batch.limit : (batch.page -1) * batch.limit track by $index">
              
                <td md-cell >{{data.batchId}}</td>
                <td md-cell >{{data.numberOfStudents}}</td>
                <td md-cell >{{data.trainerName}}</td>
                <td md-cell >{{data.technology}}</td>
                <td md-cell >{{data.status}}</td>
               
            </tr>
        </tbody>
    </table>

   <div class="overlay loadingImg" ng-show="loading">
        <h1 style="text-align: center; margin-top: 20%">loading....</h1>
    </div>
    <div class="overlay" ng-show="error">
        <h1 style="text-align: center; margin-top: 20%">Response Error</h1>
    </div>
    </md-table-container>
</div> 
</div>
</div>
    <!--start-->
 
  </div>