<md-content layout-padding>
<form name="userCreateForm">
   <md-input-container class="md-block"> <input
        type="hidden" name="Id" ng-model="create.id"> </md-input-container>

    <md-input-container class="md-block"> <label>Firstname</label>
    <input required name="Firstname" ng-model="create.firstname"> </md-input-container>

    <md-input-container class="md-block"> <label>Lastname</label>
    <input  name="Lastname" ng-model="create.lastname">
    </md-input-container>

    <md-input-container class="md-block"> <label>Email</label>
    <input  name="Email" ng-model="create.email">
    </md-input-container>

    <md-input-container class="md-block"> <label>Phoneno</label>
    <input  name="Phoneno" ng-model="create.phoneno">
    </md-input-container>

    <md-input-container class="md-block"> <label>Username</label>
    <input  name="Username" ng-model="create.username">
    </md-input-container>

    <md-input-container class="md-block"> <label>Password</label>
    <input  name="Password" type="password" ng-model="create.password">
    </md-input-container>

    <md-input-container class="md-block"> <label>Confirm Password</label>
    <input  name="ConfirmPassword" type="password" ng-model="create.confirmPassword">
    </md-input-container>

    <md-input-container class="md-block"> <label>Role</label>
    <input  name="Role" ng-model="create.role">
    </md-input-container>

    <md-input-container class="md-block"> <label>Description</label>
    <input  name="Description" ng-model="create.description">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage"> Save </md-button>
    <md-button class="md-raised md-primary" ng-click="updateRecord()"
        ng-show="updatePage"> Update </md-button>
    <md-button class="md-raised " ng-click="saveRecord()">
    Cancel </md-button>
</form>
</md-content>