<md-content layout-padding>
    <form name="expenseCreateForm">

        <md-input-container class="md-block">
            <label>
                Date</label>
            <input type="date" ng-model="record.date" required/> </md-input-container>
            

        <md-input-container class="md-block">
            <label>Purpose of Expense</label>
            <input name="purposeofexepense" type="text" ng-model="record.purposeOfExpense" required> </md-input-container>
        
         <md-input-container class="md-block">
            <label>Amount</label>
            <input name="amount" type="number" ng-model="record.amount" required> </md-input-container>

           <md-checkbox ng-model="creditModel" ng-disabled="debitModel">
                Credit
              </md-checkbox> 
               <md-checkbox  ng-model="debitModel" ng-disabled="creditModel">
                Debit
              </md-checkbox> 


        <md-input-container class="md-block">
            <label>Description
            </label>
            <input name="Description" ng-model="record.description">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="saveRecord()" ng-hide="updatePage" ng-disabled="expenseCreateForm.$invalid">
            Save </md-button>
        <md-button class="md-raised md-primary" ng-click="updateRecord()" ng-show="updatePage" ng-disabled="expenseCreateForm.$invalid">
            Update </md-button>
        <md-button class="md-raised" ng-click="cancelRecord()">
            Cancel </md-button>
    </form>
</md-content>