<md-content layout-padding>
<form name="supportInteractionCreateForm">

<md-input-container class="md-block"> <label>Count</label>
	<input required name="count" type="number" ng-model="record.count"> </md-input-container>

<md-input-container class="md-block"> <label>Date</label>
	<input required name="count" type="date" ng-model="record.date"> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Employee</label>
	<md-select ng-model="record.employeeId"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="employee in employees"
		ng-selected="employee.id === record.employeeId" ng-value="{{employee.id}}">
	{{employee.name}} </md-option> </md-select> </md-input-container>

	<md-input-container class="md-block" flex-gt-sm> <label>Lead </label>
	<md-select ng-model="record.leadId"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="employee in employees"
		ng-selected="employee.id === record.leadId" ng-value="{{employee.id}}">
	{{employee.name}} </md-option> </md-select> </md-input-container>

	<!-- <md-input-container class="md-block" flex-gt-sm> <label>Lead </label>
	<md-select ng-model="record.leadId"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="employee in employees"
		ng-selected="employee.id === record.leadId" ng-value="{{tech.name}}">
	{{employee.name}} </md-option> </md-select>
	 </md-input-container> -->


	<md-input-container class="md-block" flex-gt-sm> <label>Trainee </label>
	<md-select ng-model="record.traineeId"> <md-option>
	<em>None</em> </md-option> <md-option ng-repeat="trainee in trainees"
		ng-selected="trainee.id === record.traineeId" ng-value="{{trainee.id}}">
	{{trainee.name}} </md-option> </md-select> </md-input-container>

	
	<md-input-container class="md-block"> <label>Description
	</label> <input required name="Description" ng-model="record.description">
	</md-input-container>

	<md-input-container class="md-block"> <input
		type="hidden" name="Id" ng-model="record.id"> </md-input-container>

	<md-button class="md-raised md-primary" ng-click="saveRecord()"
		ng-hide="updatePage"> Save </md-button>
	<md-button class="md-raised md-primary" ng-click="updateRecord()"
		ng-show="updatePage"> Update </md-button>
	<md-button class="md-raised " ng-click="saveRecord()">
	Cancel </md-button>
</form>

</md-content>



