<md-content layout-padding>
<form name="timesheetCreateForm">
	<md-input-container class="md-block"> <label>
		Date</label> <input  type="date" name="date"
		ng-model="record.date"> </md-input-container>

	<md-input-container class="md-block"> <label>Employee Id</label> 
	<input  name="employeeId" ng-model="record.employeeId">
	</md-input-container>

	<md-input-container class="md-block"> <label>Category</label> <input  name="category"
		ng-model="record.category"> </md-input-container>

	<md-input-container class="md-block"> <label>Category Reference Number</label> <input  name="categoryRefNo"
		ng-model="record.categoryRefNo"> </md-input-container>

	<md-input-container class="md-block"> <label>Duration In Hours</label> <input   name="categoryRefNo"
		ng-model="record.categoryRefNo"> </md-input-container>

	<md-input-container class="md-block"> <input
		type="hidden" name="Id" ng-model="record.id"> </md-input-container>

	<md-input-container class="md-block"> <label>Description</label>
	<input name="Description" ng-model="record.description"> </md-input-container>

	<md-button class="md-raised md-primary" ng-click="saveRecord()"
		ng-hide="updatePage"> Save </md-button>
	<md-button class="md-raised md-primary" ng-click="updateData()"
		ng-show="updatePage">Update </md-button>
	<md-button class="md-raised " ng-click="saveRecord()">
	Cancel </md-button>
</form>
</md-content>