<div class="demo-md-panel-animation md-padding">
	
	<div class="overlay loadingImg" ng-show="loading">
		<h1 style="text-align: center; margin-top: 20%">loading....</h1>
	</div>
	<md-content layout="column" flex> <md-table-container>
	
	<table md-table id="oppurtunityTrackerTable">
		<thead md-head md-order="query.order">
		<tr md-row ng-class-odd="'tableHead'">
				<th md-column><md-checkbox ng-click="selectAll()" aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></th>
				<th md-column ><span>Type </span></th>
				<th md-column ><span>Category </span></th>
				<th md-column ><span>Provided By</span></th>
				<th md-column><span>Provided For</span></th>
				<th md-column><span>Date</span></th>
				<th md-column class="center"><span>Paid</span></th>
				<!-- <th md-column><span>Invoice</span></th> -->
				<th md-column>Actions</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-class-odd="'odd'"
				ng-repeat="data in oppurtunityTrackersData | orderBy: query.order | filter: filterByText | limitTo: query.limit : (query.page -1) * query.limit track by $index">
				<td md-cell><md-checkbox ng-model="data.checkboxValue"
						ng-click="rowSelect(data)" aria-label="Checkbox 2"
						ng-true-value="'on'" ng-false-value="'off'"
						class="md-warn md-align-top-left" flex></td>
				<td md-cell >{{data.type}}</td>
				<td md-cell >{{data.category}}</td>
				<td md-cell >{{data.providedBy}}</td>
				<td md-cell>{{data.providedFor}}</td>
				<td md-cell>{{data.opportunityDate}}</td>
				<!-- <td md-cell>{{data.paid}}</td> -->

				<td md-cell class="center">
				<div ng-switch="data.paid">
					<div ng-switch-when="Yes"> <md-tooltip>{{data.paid}} </md-tooltip><i class="material-icons cursor green">check_circle</i></div>
					<div ng-switch-when="No"> <md-tooltip>{{data.paid}} </md-tooltip><i class="material-icons cursor red">cancel</i></div>
					<div ng-switch-when=""></div>
				</div>
				</td>

				<!-- <td md-cell>{{data.invoice}}</td> -->
				<td md-cell><span> <md-tooltip> Update </md-tooltip> <i
						class="material-icons cursor" ng-click="setRowData(data);toggleRight()"
						ng-hide="isOpenRight()">border_color</i></span><span><md-tooltip>
						{{data.description}} </md-tooltip> <i class="material-icons cursor" ng-click="deleteRow($event,data)">delete_forever</i></span> <span><md-tooltip>
						{{data.description}} </md-tooltip> <i class="material-icons cursor">description</i></span></td>
			</tr>
		</tbody>
	</table>
	</md-table-container> 
	</md-content>

	<div layout="column" ng-cloak>
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Oppurtunity Tracker Create</h1>
			</md-toolbar> <create-oppurtunity/> </md-sidenav>
		</section>
	</div>


</div>

