<md-content layout-padding>
<form name="questionCreateForm">
<!-- <md-input-container class="md-block"> <input
        type="hidden" name="Id" ng-model="record.id"> </md-input-container> -->
        
    <md-input-container class="md-block"> <label>End Client</label>
    <input required name="end_client" required ng-model="record.endClient"> </md-input-container>

    <md-input-container class="md-block"> <label>Question</label>
    <textarea name="Question" required ng-model="record.question"></textarea>
    </md-input-container>

    <md-input-container class="md-block"> <label>Answer</label>
    <textarea name="answer" required ng-model="record.answers"></textarea>
    </md-input-container>

     <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage" ng-disabled="questionCreateForm.$invalid"> Save </md-button>
    <md-button class="md-raised md-primary" ng-click="updateRecord()"
        ng-show="updatePage" ng-disabled="questionCreateForm.$invalid"> Update </md-button>
    <md-button class="md-raised " ng-click="cancelRecord()">
    Cancel </md-button>
</form>
</md-content>
